/* #mapContainer {
  margin: 0 relative;
  position: absolute;
  top:0;
  bottom:0;
  width:100%;
} */
#mapContainer {
  height: 100%;
  width: 100%;
  background: lightgray;
  margin: 0 auto;
}

#marker {
width: 5px;
height: 5px;
border-radius: 20%;
cursor: pointer;
}
